include globals.pug

//- Barra de navegacion en la parte superior de la pagina
-
  var navBarConfig = {
    sideNavButton: {
      id: "'sidenav-activation-btn'",
      icon: 'mdi mdi-menu white-text',
      showFlag: "global.showSideNav === true"
    }
  };
+navBar(navBarConfig)('[navbarClass]'="'green'")
  mz-navbar-item
    +link('http://www.jfdc.tech/')
      i.mdi.mdi-home
  mz-navbar-item
    +link()('[id]'="'translation-button'")
      i.mdi.mdi-translate
    +dropdownMenu("'language-options'", "'translation-button'")
      mz-dropdown-item
        +link()(
          '(click)'='onLanguageButtonClicked("es")'
          click-stop-propagation
        )='Español'
      mz-dropdown-item
        +link()(
          '(click)'='onLanguageButtonClicked("en")'
          click-stop-propagation
        )='English'

//- Menu de navegacion lateral
+sideNav("'sidenav'", "'sidenav-activation-btn'")(
  '[fixed]'="'true'"
  '*ngIf'="global.showSideNav === true"
)
  div.logo-area
  +sideNavCollapsible(
    '{{ global.userFullName }}', 'mdi mdi-account-circle white-text'
  )(id='account-options')
    mz-sidenav-link
      +uiRouterLink('edit-profile')(class='waves-effect waves-green')
        ='{{ langManager.messages.sideNav.editProfile }}'
    mz-sidenav-link
      +link()(
        class='waves-effect waves-green'
        '(click)'='onLogOutButtonClicked()'
      )
        ='{{ langManager.messages.sideNav.logout }}'
  mz-sidenav-link('*ngIf'='global.roleName !== "Administrator"')
    +uiRouterLink('search')(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-magnify.mdi-24px
      ='{{ langManager.messages.sideNav.search }}'
  mz-sidenav-link('*ngIf'='global.roleName === "Supervisor"')
    +uiRouterLink('upload')(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-upload.mdi-24px
      ='{{ langManager.messages.sideNav.upload }}'
  mz-sidenav-link('*ngIf'='global.roleName !== "Administrator"')
    +uiRouterLink('report')(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-file-chart.mdi-24px
      ='{{ langManager.messages.sideNav.report }}'
  mz-sidenav-link('*ngIf'="global.roleName === 'Administrator'")
    +uiRouterLink('users')(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-account-multiple.mdi-24px
      ='{{ langManager.messages.sideNav.users }}'

//- Area principal de la pagina
div.container(
  '[ngClass]'="{ 'with-sidenav': global.showSideNav }"
) 
  ui-view('[hidden]'='global.showSpinner')
  div.row('[hidden]'='!global.showSpinner')
    div.col.s12.m12.center-align
      mz-spinner('[size]'="'big'")