include globals.pug

//- div.col.s12(
//-   '*ngFor'='let document of data.searchResults'
//- )
//-   mz-card('[hoverable]'='true')
//-     mz-card-content
//-       div.row 
//-         div.col.s3
//-           span(style='font-weight: bold')
//-             ='{{ langManager.messages.list.lab.tableHeaders[0] }}: '
//-           span
//-             ='{{ document.file_date }}'
      
//-         div.col.s2
//-           span(style='font-weight: bold')
//-             ='{{ langManager.messages.list.lab.tableHeaders[1] }}: '
//-           span
//-             ='{{ document.zone_name }}'
        
//-         div.col.s7
//-           span(style='font-weight: bold')
//-             ='{{ langManager.messages.list.lab.tableHeaders[2] }}: '
//-           span
//-             ='{{ document.lab_name }}'
      
//-       div.row
//-         div.col.s12
//-           span(style='font-weight: bold')
//-             ='{{ langManager.messages.list.lab.tableHeaders[3] }}: '
//-           span
//-             ='{{ document.ranch_name }}'

//-         div.col.s12
//-           span(style='font-weight: bold')
//-             ='{{ langManager.messages.list.lab.tableHeaders[4] }}: '
//-           span
//-             ='{{ document.producer_name }}'
      
//-         div.col.s12
//-           span(style='font-weight: bold')
//-             ='{{ langManager.messages.list.lab.tableHeaders[5] }}: '
//-           span
//-             ='{{ document.area_name }}'
      
//-       div.row: div.col.s12
//-         +link()('(click)'='parent.onDocumentLinkClicked(document)')
//-           ='{{ langManager.messages.list.view }}'

div.col.s12('*ngIf'='data.hasSearchResults != false')
  +responsiveTable('langManager.messages.list.lab.tableHeaders')
    tr(
      '*ngFor'='let document of data.searchResults'
    )
      td='{{ document.file_date }}'
      td='{{ document.zone_name }}'
      td='{{ document.lab_name }}'
      td='{{ document.ranch_name }}'
      td='{{ document.producer_name }}'
      td='{{ document.area_name }}'
      td
        +link()('(click)'='parent.onDocumentLinkClicked(document)')
          ='{{ langManager.messages.list.view }}'