include globals.pug

mz-modal(
  '[options]'='modalOptions'
  '[fixedFooter]'='true'
  '[fullscreen]'='true'
)
  mz-modal-header
    div.container: div.row: div.col.s12
      ='{{ langManager.messages.upload.title }}'
  mz-modal-content
    div.container
      form(
        '[formGroup]'='uploadForm'
        novalidate
      )
        div.row
          +dateInput(
            'document-date', 
            'langManager.messages.upload.lab.dateLabel',
            'langManager.messages.global.datePickerConfig',
            'col s12'
          )(
            formControlName='documentDate'
            mz-validation
            required
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
          )
          div.col.s12.m4
            +select(
              'zone', 'langManager.messages.upload.zoneLabel', 'langManager.messages.global.selectPlaceholder',
              'zones', '.name', '',
              'onZoneSelected()'
            )(
              formControlName='zone'
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
              mz-validation
              required
            )
          div.col.s12.m4
            +select(
              'producer', 'langManager.messages.upload.producerLabel',
              'langManager.messages.global.selectPlaceholder',
              'producers', '.name'
            )(
              formControlName='producer'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            )
          div.col.s12.m4
            +select(
              'lab', 'langManager.messages.upload.lab.labNameLabel',
              'langManager.messages.global.selectPlaceholder',
              'labs', '.name'
            )(
              formControlName='lab'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            )

        div.row
          div.col.s12.m6
            +select(
              'type', 'langManager.messages.upload.lab.typeNameLabel',
              'langManager.messages.global.selectPlaceholder',
              'types', '.name', '',
              'onAnalysisTypeSelected()'
            )(
              formControlName='type'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            )
          div.col.s12.m6
            +select(
              'subtype', 'langManager.messages.upload.lab.subtype',
              'langManager.messages.global.selectPlaceholder',
              'subtypes', '.name', '',
              'onSubTypeSelected()'
            )(
              formControlName='subtype'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            )
        div.row
          div.col.s12.m6
            +select(
              'area', 'langManager.messages.upload.areaLabel',
              'langManager.messages.global.selectPlaceholder',
              'areas', '.name', '',
              'onAreaSelected()'
            )(
              formControlName='area'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            )
          div.col.s12.m6
            +select(
              'subarea', 'langManager.messages.upload.subAreaLabel',
              'langManager.messages.global.selectPlaceholder',
              'subareas', '.name'
            )(
              formControlName='subarea'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            )

        div.row
          div.col.s12
            +textArea(
              'notes',
              65535,
              'langManager.messages.upload.notesLabel'
            )(
              formControlName='notes'
              mz-validation
              '[errorMessageResource]'='langManager.messages.upload.errors.notes'
            )
          div.col.s12
            +fileInput(
              'analysis-document',
              '{{ langManager.messages.upload.lab.analysisLabel }}',
              '{{ langManager.messages.upload.fileButtonLabel }}'
            )(
              '(change)'='onAnalysisFileSelected($event)'
            )
  mz-modal-footer
    +button(
      'submit',
      'submit-document',
      '{{ langManager.messages.global.submit }}',
      'mdi mdi-send'
    )(
      '[disabled]'='!uploadForm.valid || !selectedDocumentFile'
      '(click)'='onLabDocumentUpload()'
      mz-modal-close
    )