include globals.pug

mz-modal(
  '[options]'='modalOptions'
  '[fixedFooter]'='true'
  '[fullscreen]'='true'
)
  mz-modal-header
    ='{{ langManager.messages.search.title }}'
  mz-modal-content
    form(
      '[formGroup]'='defaultDocumentSearchForm'
      novalidate
    )
      div.row
        div.col.s12.m6
          +dateInput(
            'start-date', 
            '{{ langManager.messages.search.startDateLabel }}'
          )(
            formControlName='startDate'
            mz-validation
            required
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
          )
        div.col.s12.m6
          +dateInput(
            'end-date', 
            '{{ langManager.messages.search.endDateLabel }}'
          )(
            formControlName='endDate'
            mz-validation
            required
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
          )
        div.col.s12.m4
          +select(
            'zone', 'langManager.messages.upload.zoneLabel', 'langManager.messages.global.selectPlaceholder',
            'zones', '.name', '.name',
            'onZoneSelected($event)'
          )(
            formControlName='zone'
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            mz-validation
            required
          )

        div.col.s12.m4
          +select(
            'ranch', 'langManager.messages.upload.ranchLabel', 'langManager.messages.global.selectPlaceholder',
            'ranches', '.name', '.name',
            'onRanchSelected($event)'
          )(
            formControlName='ranch'
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            mz-validation
            required
          )

        div.col.s12.m4
          +select(
            'producer', 'langManager.messages.upload.ranchLabel', 'langManager.messages.global.selectPlaceholder',
            'producers', '.name', '.id'
          )(
            formControlName='producer'
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            mz-validation
            required
          )
  mz-modal-footer
    +button(
      'search',
      'search-document',
      '{{ langManager.messages.search.buttonLabel }}',
      'mdi mdi-magnify'
    )(
      '[disabled]'='!defaultDocumentSearchForm.valid'
      '(click)'='onDefaultDocumentSearch()'
      mz-modal-close
    )