include globals.pug

mz-modal(
  '[options]'='modalOptions'
  '[fixedFooter]'='true'
  '[fullscreen]'='true'
)
  mz-modal-header
    ='{{ langManager.messages.upload.title }}'
  mz-modal-content
    form(
      '[formGroup]'='defaultDocumentUploadForm'
      novalidate
    )
      div.row
        div.col.s12
          +dateInput(
            'document-date', 
            '{{ langManager.messages.upload.docDateLabel }}'
          )(
            formControlName='documentDate'
            mz-validation
            required
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
          )

        div.col.s12.m6.l3
          +textInput(
            'zone',
            'langManager.messages.upload.zoneLabel'
          )(
            '[autocomplete]'='zoneSuggestions'
            '(change)'='onZoneSelected($event)'
            formControlName='zone'
            '[errorMessageResource]'='langManager.messages.upload.errors.zone'
            mz-validation
            required
            length='3'
          )

        div.col.s12.m6.l3
          +textInput(
            'ranch',
            'langManager.messages.upload.ranchLabel'
          )(
            '[autocomplete]'='ranchSuggestions'
            '(change)'='onRanchSelected($event)'
            formControlName='ranch'
            mz-validation
            required
            length='255'
            '[errorMessageResource]'='langManager.messages.upload.errors.ranch'
          )

        div.col.s12.m6.l3
          +textInput(
            'producers',
            'langManager.messages.upload.producerLabel'
          )(
            '(change)'='onProducerSelected($event)'
            '[autocomplete]'='producerSuggestions'
            formControlName='producer'
            mz-validation
            required
            length='255'
            '[errorMessageResource]'='langManager.messages.upload.errors.ranch'
          )
        div.col.s12.m6.l3
          +textInput(
            'areas',
            'langManager.messages.upload.areaLabel'
          )(
            '(change)'='onAreaSelected($event)'
            '[autocomplete]'='areaSuggestions'
            formControlName='area'
            mz-validation
            required
            length='255'
            '[errorMessageResource]'='langManager.messages.upload.errors.ranch'
          )
        div.col.s12
          +textArea(
            'notes',
            65535,
            'langManager.messages.upload.notesLabel'
          )(
            formControlName='notes'
            mz-validation
            '[errorMessageResource]'='langManager.messages.upload.errors.notes'
          )
        div.col.s12
          +fileInput(
            'document',
            '{{ langManager.messages.upload.fileLabel }}',
            '{{ langManager.messages.upload.fileButtonLabel }}'
          )(
            '(change)'='onDocumentFileSelected($event)'
          )
  mz-modal-footer
    +button(
      'submit',
      'submit-document',
      '{{ langManager.messages.global.submit }}',
      'mdi mdi-send'
    )(
      '[disabled]'='!defaultDocumentUploadForm.valid || !selectedDocumentFile'
      '(click)'='onDefaultDocumentUpload()'
      mz-modal-close
    )