include globals.pug

mz-modal(
  '[options]'='modalOptions'
  '[fixedFooter]'='true'
  '[fullscreen]'='true'
)
  mz-modal-header
    div.container: div.row: div.col.s12
      ='{{ langManager.messages.search.title }}'
  mz-modal-content
    div.container
      form(
        '[formGroup]'='searchForm'
        novalidate
      )
        div.row
          +dateInput(
            'start-date', 
            'langManager.messages.search.startDateLabel',
            'langManager.messages.global.datePickerConfig',
            'col s12 m6'
          )(
            formControlName='startDate'
            mz-validation
            required
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
          )
          +dateInput(
            'end-date', 
            'langManager.messages.search.endDateLabel',
            'langManager.messages.global.datePickerConfig',
            'col s12 m6'
          )(
            formControlName='endDate'
            mz-validation
            required
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
          )

        div.row
          div.col.s12.m4
            +select(
              'zone', 'langManager.messages.upload.zoneLabel', 'langManager.messages.global.selectPlaceholder',
              'zones', '.name', '',
              'onZoneSelected()'
            )(
              formControlName='zone'
            )
          div.col.s12.m4
            +select(
              'producer', 'langManager.messages.upload.producerLabel', 'langManager.messages.global.selectPlaceholder',
              'producers', '.name'
            )(
              formControlName='producer'
            )
          div.col.s12.m4
            +select(
              'lab', 'langManager.messages.upload.lab.labNameLabel', 'langManager.messages.global.selectPlaceholder',
              'labs', '.name'
            )(
              formControlName='lab'
            )

        div.row
          div.col.s12.m6
            +select(
              'type', 'langManager.messages.upload.lab.typeNameLabel', 'langManager.messages.global.selectPlaceholder',
              'analysisTypes', '.name', '',
              'onAnalysisTypeSelected()'
            )(
              formControlName='type'
            )
          div.col.s12.m6
            +select(
              'subtype', 'langManager.messages.upload.lab.subtype', 'langManager.messages.global.selectPlaceholder',
              'subTypes', '.name', '',
              'onSubTypeSelected()'
            )(
              formControlName='subtype'
            )
        div.row
          div.col.s12.m6
            +select(
              'area', 'langManager.messages.upload.areaLabel', 'langManager.messages.global.selectPlaceholder',
              'areas', '.name', '',
              'onAreaSelected()'
            )(
              formControlName='area'
            )
          div.col.s12.m6
            +select(
              'subarea', 'langManager.messages.upload.subAreaLabel', 'langManager.messages.global.selectPlaceholder',
              'subareas', '.name'
            )(
              formControlName='subarea'
            )
  mz-modal-footer
    +button(
      'search',
      'search-document',
      '{{ langManager.messages.search.buttonLabel }}',
      'mdi mdi-magnify'
    )(
      '[disabled]'='!searchForm.valid'
      '(click)'='onLabDocumentSearch()'
      mz-modal-close
    )