include globals.pug

div.row
  div.col.s6.offset-s6.m4.offset-m8
    form(
      method='POST'
      target='_blank'
      action='http://manual.jfdc.tech/source/server/report/reportPDF.php'
      ngNoForm
    )
      input(
        type='hidden'
        name='lang'
        '[ngModel]'='lang'
      )
      input(
        type='hidden'
        name='content'
        '[ngModel]'='content'
      )
      input(
        type='hidden'
        name='style'
        '[ngModel]'='style'
      )
      input(
        type='hidden'
        name='company'
        '[ngModel]'='company'
      )
      input(
        type='hidden'
        name='address'
        '[ngModel]'='address'
      )
      input(
        type='hidden'
        name='logo'
        '[ngModel]'='logo'
      )
      input(
        type='hidden'
        name='orientation'
        '[ngModel]'='orientation'
      )
      input(
        type='hidden'
        name='footer'
        '[ngModel]'='footer'
      )
      input(
        type='hidden'
        name='supervisor'
        '[ngModel]'='supervisor'
      )
      input(
        type='hidden'
        name='signature'
        '[ngModel]'='signature'
      )
      +button(
        'submit',
        'report-pdf',
        '{{ langManager.messages.global.reportButton }}',
        'mdi mdi-file-pdf-box'
      )

div.row
  div.col.s12('*ngIf'='hasData === true')
    div.scrollable-table-container
      table.highlight.scrollable-table
        thead
          tr
            th('[attr.rowspan]'='3')='U. P.'
            ng-container('*ngFor'='let type of reportData.types')
              th('[attr.colspan]'='type.span')
                ='{{ type.name }}'
          tr 
            ng-container('*ngFor'='let subtype of reportData.subtypes')
              th('[attr.colspan]'='subtype.span')
                ='{{ subtype.name }}'
          tr 
            ng-container('*ngFor'='let area of reportData.areas')
              th='{{ area }}'
        tbody
          ng-container('*ngFor'='let producer of reportData.producers')
            tr
              td='{{ producer.name }}'
              td('*ngFor'='let value of producer.values')
                ='{{ value }}'